body{
    background-color: #E7EAFF;
    font-family: "Open Sans", sans-serif;
    font-size: 13pt;
    font-weight: 400;
    line-height: 1.65;
}
.post {
    height: auto;
    width: 400px;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    position: relative;
}
.post:hover {
    border: 2px solid #F56A6A;
}

.post-header {
    display: flex;
    align-items: center;
    padding: 5px;
    position: relative;
}
.profil-pic img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.username {
    font-weight: bold;
    margin-left: 10px;
}

.p
